# Compiled stuff
*.out
*.elf
*.hex
*.o
# Doxygen stuff
*doxygen_out
# KiCAD Generated stuff
**/*-backups
**/*Gerbers
**/fp-info-cache
*.kicad_sch-bak
# Exclude all PCB 3D models due to licensing (see README.md as to how to download them)
PCB/3d_model
# General .bak files
*.bak
*.nogit*
# FeeeCAD and CAD stuff
*.FCStd1
*.stl
# VSCode
*/.vscode/
